<div class="image">
		 <%= image_tag("teatitle.jpg", class: "img-responsive teatitle") %>
              <span><h1>Reach out to us anytime! <br>
              Simply write us an email: monté@teatime.org</h1></span>              
</div>

<span> <h1 id="sidebarcontact">Or contact us using this form! </h1> </span>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row  col-md-offset-6" id="contactform">
  <div class="col-md-4" >
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>      
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
    </div>    
    	<%= submit_tag "Send" %>   
	<% end %>  
  </div>
</div>



