<p id="notice"><%= notice %></p>
 
<div class="row">
      <div class="col-md-6 indvproduct">
        <%=image_tag(@product.image_url, class: "img-responsive", id: "showproductpic") %>
         <span><h1><%= @product.name %></h1></span>
      </div>
</div>

<div class="row">
      <div class="col-md-6">
          <p><strong>Description:</strong>
          <%= @product.description %>
          </p> <br>

          <p><strong>Color:</strong>
              <%= @product.color %>
            </p><br>

          <p><strong>Price:</strong>
              <%= @product.price %>
            </p> <br>
          <p><%= @product.highest_rating_comment %></p>
          <p><%= link_to 'Edit', edit_product_path(@product) %></p>
          <p><%= link_to 'Back', products_path %></p>
      </div>  
</div> <!-- end row -->