
<div class="row">
      <div class="col-md-6 indvproduct">
        <%=image_tag(@product.image_url, class: "img-responsive img-zoom",  data_zoom_image: @product.image_url, id: "showproductpic") %>
         <span><h1><%= @product.name %></h1></span>
      </div>
</div>

<div class="row">
      <div class="col-md-6">
         <p><strong>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p></strong><br>
          
          <p><strong>Description:</strong>
          <%= @product.description %>
          </p> <br>

          <p><strong>Color:</strong>
              <%= @product.color %>
            </p><br>

          <p><strong>Price:</strong>
              <%= @product.price %>
            </p> <br>

              <%= form_tag "/payments/create" do %>
              <%= render partial: "shared/stripe_checkout_button" %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <% end %>

          <p><%= link_to 'Edit', edit_product_path(@product) %></p>
          <p><%= link_to 'Back', products_path %></p>
         
          <p><strong>What other tea lovers had to say:</strong></p>
          <p><%= render partial: 'comments' %></p>
          <p><%=render partial: 'new_comment'%></p>

      </div>  

      <div class="digg_pagination col-md-12">
        <div class="page_info">
        <p><%= page_entries_info @comments %></p>
        </div>
        <p><%= will_paginate @comments %></p>
      </div> <!-- end digg_pagination -->

</div> <!-- end row -->
